@import './snackbar';
@import './place-filter';
@import './location-list';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Roboto;
}

#map {
  width: 100%;
  height: 100%;
}
